<section class="entry-element entry-pdf">
  <h3>{{ element.title }}</h3>
  <ul class="pdf-list">
    {% for item in element["items"] %}
      <li>
        <span class="pdf-label">{{ item.label }}</span>
        <a href="{{ item.src }}">{{ item.filename }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
