<section class="entry-element entry-script">
  <h3>{{ element.title }}</h3>
  {% for item in element.items %}
    <article class="code-block">
      <header>
        <span class="code-label">{{ item.label }}</span>
        {% if item.language %}<span class="code-lang">{{ item.language }}</span>{% endif %}
      </header>
      <pre><code>{{ item.code }}</code></pre>
    </article>
  {% endfor %}
</section>
