<section class="entry-element entry-script">
  {% set title = (element.title or '') | trim %}
  {% if title and title | lower != 'script' %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% for item in element["items"] %}
    <article class="code-block">
      <header>
        <span class="code-label">{{ item.label }}</span>
        {% if item.language %}<span class="code-lang">{{ item.language }}</span>{% endif %}
      </header>
      <pre><code>{{ item.code }}</code></pre>
    </article>
  {% endfor %}
</section>
